certifi==2022.12.7
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
opencv-python==4.7.0.68
packaging==23.0
Pillow==9.4.0
pip==22.3.1
pyparsing==3.0.9
pyrplidar==0.1.2
pyserial==3.5
python-dateutil==2.8.2
setuptools==65.6.3
six==1.16.0
wheel==0.37.1
